@import './base.css';

h2 {
  margin: 5px 0;
}

.ibox {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #cccccc;
  color: #222222;
  display: block;
}

.ibox.succ {
  background-color: #00ff0099;
}

.ibox.info {
  background-color: #00ffff99;
}

.ibox.warn {
  background-color: #ffff0099;
}

.ibox span {
  font-size: 18px;
}
